---
layout: base.njk
---
<article class="post">
  <p class="back"><a href="/">← All posts</a></p>
  <h1>{{ title }}</h1>
  <p class="post-date">{{ date | date }}</p>
  {{ content | safe }}
</article>
